-
  var catalogData = [
      {
        id: "1",
        name: "Долгожданный",
        ripeningPeriod: "95-110",
        bunchWeight: "700-1500",
        size: "34х22",
        weight: "10-Dec",
        colour: "желт",
        taste: "гарм",
        diseaseResistance: "2,5-3",
        freezing: "-24",
        cuttingPrice: "50",
        seedlingPrice: "150",
        photos: ["dolgojdannyi-1", "dolgojdannyi-2", "dolgojdannyi-3"]
      },
      {
        id: "2",
        name: "Преображение",
        ripeningPeriod: "110-120",
        bunchWeight: "700-1500",
        size: "40х23",
        weight: "14-20",
        colour: "розов",
        taste: "гарм",
        diseaseResistance: "2,5-3",
        freezing: "-23"
      },
      {
        id: "3",
        name: "Байконур",
        ripeningPeriod: "110-115",
        bunchWeight: "600-900",
        weight: "Dec-18",
        colour: "красн",
        taste: "гарм",
        freezing: "-23",
        cuttingPrice: "   "
      },
      {
        id: "4",
        name: "Заря Несветая",
        ripeningPeriod: "90-100",
        bunchWeight: "600-1000",
        weight: "10-Dec",
        colour: "т-красн",
        taste: "муск",
        diseaseResistance: "  2,5-3",
        freezing: "-25",
        cuttingPrice: "    "
      },
      {
        id: "5",
        name: "Карнавал",
        ripeningPeriod: "100-110",
        bunchWeight: "500-1000",
        weight: "10-Dec",
        colour: "красн",
        taste: "гарм",
        freezing: "-24",
        cuttingPrice: "250",
        seedlingPrice: "350"
      },
      {
        id: "6",
        name: "Памяти учителя",
        ripeningPeriod: "110-115",
        bunchWeight: "500-1000",
        weight: "Oct-15",
        colour: "красн",
        taste: "л.мус",
        diseaseResistance: "2,5-3",
        freezing: "-24"
      },
      {
        id: "7",
        name: "Подарок несветая",
        ripeningPeriod: "  90-100",
        bunchWeight: "600-800",
        weight: "Dec-16",
        colour: "красн",
        taste: "муск",
        diseaseResistance: "2,5-3",
        freezing: "-24"
      },
      {
        id: "8",
        name: "Ромбик",
        ripeningPeriod: "   90-100",
        bunchWeight: "500-800",
        weight: "Oct-14",
        colour: "фиол",
        taste: "гарм",
        freezing: "-24",
        cuttingPrice: "100"
      },
      {
        id: "9",
        name: "Рошфор",
        ripeningPeriod: "90-100",
        bunchWeight: "600-1000",
        weight: "8-Dec",
        colour: "т.красн",
        taste: "муск",
        diseaseResistance: "3-3,5",
        freezing: "-23"
      },
      {
        id: "10",
        name: "Сенатор",
        ripeningPeriod: "110-120",
        bunchWeight: "600-800",
        weight: "Dec-14",
        colour: "розов",
        taste: "муск",
        freezing: "-24",
        cuttingPrice: "100"
      },
      {
        id: "11",
        name: "Супер экстра",
        ripeningPeriod: "90-100",
        bunchWeight: "600-1000",
        weight: "7-Oct",
        colour: "желт",
        taste: "гарм",
        diseaseResistance: "2-2,5",
        freezing: "-25",
        seedlingPrice: "150"
      },
      {
        id: "12",
        name: "Эверест",
        ripeningPeriod: "100-110",
        bunchWeight: "700-1200",
        weight: "18-25",
        colour: "красн",
        taste: "гарм",
        diseaseResistance: "2,5-3",
        freezing: "-24",
        cuttingPrice: "100",
        seedlingPrice: "200"
      },
      {
        id: "13",
        name: "Богема",
        ripeningPeriod: "110-115",
        bunchWeight: "400-600",
        weight: "14-16",
        colour: "розов",
        taste: "л.мус",
        freezing: "-23",
        cuttingPrice: "150"
      },
      {
        id: "14",
        name: "Велес",
        ripeningPeriod: "оч.ранн",
        bunchWeight: "крупн",
        weight: "5",
        colour: "роз",
        taste: "л.мус.",
        freezing: "-21"
      },
      {
        id: "15",
        name: "к-ш Гелиодор",
        ripeningPeriod: "90-100",
        bunchWeight: "600-1200",
        weight: "6-Jul",
        colour: "желт",
        taste: "муск",
        freezing: "-21"
      },
      {
        id: "16",
        name: "Ливия",
        ripeningPeriod: "Оч.ранн",
        bunchWeight: "Крупн.",
        size: "32х22",
        weight: "10",
        colour: "розов",
        taste: "муск",
        diseaseResistance: " 3-3,5",
        freezing: "-21",
        cuttingPrice: "70"
      },
      {
        id: "17",
        name: "София *",
        ripeningPeriod: "Ранн.",
        bunchWeight: "Оч.крупн.",
        size: "38х28",
        weight: "15",
        colour: "розов",
        taste: "муск",
        diseaseResistance: "3",
        freezing: "-21",
        cuttingPrice: "50"
      },
      {
        id: "18",
        name: "Малиновый супер",
        ripeningPeriod: "90-100",
        bunchWeight: "1000-1500",
        weight: "15-18",
        colour: "малин",
        taste: "гарм",
        freezing: "-25"
      },
      {
        id: "19",
        name: "Сенсация",
        ripeningPeriod: "ранн",
        bunchWeight: "700-1500",
        weight: "14-18",
        colour: "роз",
        taste: "гарм",
        freezing: "-22",
        cuttingPrice: "70"
      },
      {
        id: "20",
        name: "Фурор",
        ripeningPeriod: "90-100",
        bunchWeight: "800-1500",
        weight: "20-25",
        colour: "т.син",
        taste: "муск",
        freezing: "-24",
        cuttingPrice: "200"
      },
      {
        id: "21",
        name: "Юлиан",
        ripeningPeriod: "Оч.ранн",
        bunchWeight: "800-1500",
        size: "42х26",
        weight: "18-20",
        colour: "розов",
        taste: "гарм",
        diseaseResistance: "2,5-3",
        freezing: "-24"
      },
      {
        id: "22",
        name: "Валек",
        ripeningPeriod: "ранн",
        bunchWeight: "1500",
        size: "33х26",
        colour: "желт",
        taste: "муск"
      },
      {
        id: "23",
        name: "Слава Украине",
        ripeningPeriod: "90-100",
        bunchWeight: "600-1500",
        weight: "Dec-18",
        colour: "  бел",
        taste: "гарм",
        freezing: "-23"
      },
      {
        id: "24",
        name: "Хамелеон",
        ripeningPeriod: "ранн",
        bunchWeight: "До 2000",
        colour: "  роз",
        taste: "гарм"
      },
      {
        id: "25",
        name: "Талдун",
        ripeningPeriod: "110-115",
        bunchWeight: "600-800",
        weight: "14-16",
        colour: "т.красн",
        taste: "гарм",
        freezing: "-24"
      },
      {
        id: "26",
        name: "Ливи ультра",
        ripeningPeriod: "оч.ранн",
        bunchWeight: "до 1000",
        weight: "16-20",
        colour: "   красн",
        taste: "л.мус",
        freezing: "-22",
        cuttingPrice: "200",
        seedlingPrice: "350"
      },
      {
        id: "27",
        name: "Минор",
        ripeningPeriod: "90-100",
        bunchWeight: "600-1200",
        weight: "Dec-16",
        colour: "  красн",
        taste: "муск",
        freezing: "-23"
      },
      {
        id: "28",
        name: "Розалинда",
        ripeningPeriod: "оч.ранн",
        bunchWeight: "800-1200",
        size: "удлин",
        weight: "Dec-18",
        colour: "жел-роз",
        taste: "гарм",
        freezing: "-23",
        cuttingPrice: "50"
      },
      {
        id: "29",
        name: "Балтимор",
        ripeningPeriod: "110-115",
        bunchWeight: "600-1200",
        weight: "14-18",
        colour: "бел",
        taste: "гарм"
      },
      {
        id: "30",
        name: "Брависсимо (к-ш)",
        ripeningPeriod: "оч.ранн",
        bunchWeight: "до 1000",
        weight: "10-Dec",
        colour: "т.син",
        taste: "гарм",
        cuttingPrice: "  "
      },
      {
        id: "31",
        name: "Бруно",
        ripeningPeriod: "оч.ран",
        bunchWeight: "700-1200",
        weight: "8-Dec",
        colour: "фио-си",
        taste: "гарм",
        cuttingPrice: "150",
        seedlingPrice: "200"
      },
      {
        id: "32",
        name: "Каталония",
        ripeningPeriod: "90-100",
        bunchWeight: "500-800",
        weight: "Dec-18",
        colour: "т.фиол",
        taste: "гарм",
        freezing: "-23",
        cuttingPrice: "150",
        seedlingPrice: "250"
      },
      {
        id: "33",
        name: "Алвика",
        ripeningPeriod: " 110-115",
        bunchWeight: "700-900",
        weight: "20-30",
        colour: "син-фи",
        taste: "гарм",
        freezing: "-25",
        cuttingPrice: "200"
      },
      {
        id: "34",
        name: "Альянс",
        ripeningPeriod: "   90-100",
        bunchWeight: "700-900",
        weight: "14-20",
        colour: "фиол",
        taste: "гарм"
      },
      {
        id: "35",
        name: "Белоснежка",
        ripeningPeriod: "90-100",
        bunchWeight: "900-1200",
        weight: "Dec-14",
        colour: "желт",
        taste: "муск",
        freezing: "-23",
        cuttingPrice: "150"
      },
      {
        id: "36",
        name: "Княжна",
        ripeningPeriod: "ранний",
        bunchWeight: "800-1200",
        weight: "20-30",
        colour: "красн",
        taste: "л.мус"
      },
      {
        id: "37",
        name: "Красава ",
        ripeningPeriod: "110-115",
        bunchWeight: "800-1000",
        size: "пальч.",
        weight: "16-20",
        colour: "красн",
        taste: "гарм",
        freezing: "-25",
        cuttingPrice: "250",
        seedlingPrice: "400"
      },
      {
        id: "38",
        name: "Мальчик с пальчик",
        ripeningPeriod: "ранний",
        bunchWeight: "700-1000",
        weight: "17-22",
        colour: "бел",
        taste: "гарм"
      },
      {
        id: "39",
        name: "Натали",
        ripeningPeriod: "оч.ран",
        bunchWeight: "500-900",
        weight: "10-Dec",
        colour: "т.син",
        taste: "гарм",
        freezing: "-23",
        cuttingPrice: "500"
      },
      {
        id: "40",
        name: "Находка Калугина",
        ripeningPeriod: "ранний",
        bunchWeight: "700-1200",
        weight: "20-25",
        colour: "крас-ф",
        taste: "гарм",
        cuttingPrice: "300"
      },
      {
        id: "41",
        name: "Олимп",
        ripeningPeriod: "ранний",
        bunchWeight: "до 1000",
        weight: "25-30",
        colour: "т.крас",
        taste: "гарм",
        cuttingPrice: "300",
        seedlingPrice: "400"
      },
      {
        id: "42",
        name: "Перцовый черный",
        ripeningPeriod: "оч.ран",
        bunchWeight: "до 1000",
        weight: "18-20",
        colour: "т.син",
        taste: "гарм",
        cuttingPrice: "400"
      },
      {
        id: "43",
        name: "Посланник",
        ripeningPeriod: "125-135",
        bunchWeight: "800-1000",
        weight: "20-30",
        colour: "т.крас",
        taste: "гарм",
        freezing: "-24",
        cuttingPrice: "150",
        seedlingPrice: "250"
      },
      {
        id: "44",
        name: "Рембо",
        ripeningPeriod: "100-110",
        bunchWeight: "600-900",
        weight: "16-20",
        colour: "т.син",
        taste: "гарм",
        freezing: "-24"
      },
      {
        id: "45",
        name: "Торнадо",
        ripeningPeriod: "115-125",
        bunchWeight: "800-1200",
        weight: "20-25",
        colour: "кр-фио",
        taste: "гарм"
      },
      {
        id: "46",
        name: "Художник",
        ripeningPeriod: "ранний",
        bunchWeight: "800-2000",
        weight: "20-30",
        colour: "красн",
        taste: "гарм",
        seedlingPrice: "600"
      },
      {
        id: "47",
        name: "Центурион",
        bunchWeight: "600-1000",
        weight: "20-25",
        colour: "т.син",
        taste: "гарм",
        freezing: "-23"
      },
      {
        id: "48",
        name: "Черный кристалл",
        ripeningPeriod: "100-110",
        bunchWeight: "800-1500",
        weight: "16-20",
        colour: "т.син",
        taste: "гарм",
        freezing: "-24",
        cuttingPrice: "250"
      },
      {
        id: "49",
        name: "Бананас",
        ripeningPeriod: "110-115",
        bunchWeight: "600-1000",
        weight: "15",
        colour: "бел",
        taste: "фрукт",
        cuttingPrice: "  "
      },
      {
        id: "50",
        name: "Дынька",
        ripeningPeriod: "90-100",
        bunchWeight: "600-1000",
        weight: "Dec-14",
        colour: "красн",
        taste: "муск",
        freezing: "-23",
        cuttingPrice: " "
      },
      {
        id: "51",
        name: "Цимус (к-ш)",
        ripeningPeriod: "оч.ранн",
        bunchWeight: "800-1000",
        weight: "4-May",
        colour: "бел",
        taste: "муск",
        cuttingPrice: "  "
      },
      {
        id: "52",
        name: "Оскар (5 мм)",
        ripeningPeriod: "ранний",
        bunchWeight: "700-1000",
        size: "5см",
        weight: "10-Dec",
        colour: "крас",
        taste: "гарм"
      },
      {
        id: "53",
        name: "Казанова",
        ripeningPeriod: "110-115",
        bunchWeight: "700-1500",
        weight: "Dec-16",
        colour: "красн",
        taste: "л.мус",
        freezing: "-23"
      },
      {
        id: "54",
        name: "Дубовский розовый",
        ripeningPeriod: "90-100",
        bunchWeight: "1000-2000",
        weight: "18-20",
        colour: "роз",
        taste: "гарм",
        freezing: "-25",
        cuttingPrice: "100"
      },
      {
        id: "55",
        name: "Пестрый",
        ripeningPeriod: "110-115",
        bunchWeight: "700-1200",
        weight: "10-Dec",
        colour: "роз",
        taste: "муск",
        freezing: "-24",
        seedlingPrice: "250"
      },
      {
        id: "56",
        name: "Гран-при",
        ripeningPeriod: "90",
        bunchWeight: "700-1000",
        weight: "10-Dec",
        colour: "роз",
        taste: "муск",
        freezing: "-24"
      },
      {
        id: "57",
        name: "Изюмский мускат",
        ripeningPeriod: "100",
        bunchWeight: "700-900",
        weight: "7-Sep",
        colour: "т.син",
        taste: "муск",
        freezing: "-26"
      },
      {
        id: "58",
        name: "Князь Трубецкой",
        ripeningPeriod: "115-125",
        bunchWeight: "500-1000",
        weight: "14-16",
        colour: "кр-фио",
        taste: "гарм",
        freezing: "-23",
        cuttingPrice: "200"
      },
      {
        id: "59",
        name: "МашА",
        ripeningPeriod: "115-125",
        bunchWeight: "700-2000",
        weight: "14-18",
        colour: "желт",
        taste: "гарм",
        freezing: "-23",
        cuttingPrice: "300"
      },
      {
        id: "60",
        name: "Атос",
        ripeningPeriod: "оч.ран",
        bunchWeight: "800-1200",
        weight: "10-Dec",
        colour: "черн",
        taste: "гарм",
        freezing: "-24",
        seedlingPrice: "250"
      },
      {
        id: "61",
        name: "Велюр",
        ripeningPeriod: "оч.ранн",
        bunchWeight: "600-800",
        weight: "Dec-14",
        colour: "красн",
        taste: "л.мус",
        cuttingPrice: "500",
        seedlingPrice: "800"
      },
      {
        id: "62",
        name: "Ирис",
        ripeningPeriod: "оч.ранн",
        bunchWeight: "600-800",
        weight: "Dec-14",
        colour: "красн",
        taste: "л.мус",
        cuttingPrice: "500",
        seedlingPrice: "800"
      },
      {
        id: "63",
        name: "Малиновая заря",
        ripeningPeriod: "оч.ранн",
        bunchWeight: "600-800",
        weight: "Dec-14",
        colour: "красн",
        taste: "л.мус",
        cuttingPrice: "500",
        seedlingPrice: "800"
      },
      {
        id: "64",
        name: "Тальяночка",
        ripeningPeriod: "оч.ранн",
        bunchWeight: "1000",
        weight: "Dec-14",
        colour: "т.красн",
        taste: "л.мус",
        cuttingPrice: "500",
        seedlingPrice: "800"
      },
      {
        id: "65",
        name: "Щегол",
        ripeningPeriod: "ранний",
        bunchWeight: "600-800",
        weight: "Dec-14",
        colour: "т.красн",
        taste: "муск",
        cuttingPrice: "500",
        seedlingPrice: "800"
      },
      {
        id: "66",
        name: "Соперник",
        ripeningPeriod: "оч.ранн",
        bunchWeight: "1000",
        weight: "Dec-14",
        colour: "розов",
        taste: "мус",
        cuttingPrice: "500",
        seedlingPrice: "800"
      },
      {
        id: "67",
        name: "Валентин",
        ripeningPeriod: "115-125",
        bunchWeight: "800-1000",
        weight: "15",
        colour: "син",
        taste: "гарм",
        freezing: "-25",
        cuttingPrice: "100"
      },
      {
        id: "68",
        name: "Велика            ",
        ripeningPeriod: "    ранн",
        bunchWeight: "500-700",
        size: "38х23",
        weight: "12",
        colour: "фиолет",
        taste: "гарм",
        cuttingPrice: "50"
      },
      {
        id: "69",
        name: "Аватар",
        ripeningPeriod: "115-125",
        colour: "т.син",
        taste: "гарм",
        cuttingPrice: "500"
      },
      {
        id: "70",
        name: "Алиса",
        ripeningPeriod: "115-125",
        bunchWeight: "700-1200",
        weight: "6-Aug",
        colour: "красн",
        taste: "гарм",
        freezing: "-22",
        cuttingPrice: "500"
      },
      {
        id: "71",
        name: "Арарат",
        ripeningPeriod: "125",
        bunchWeight: "400-600",
        weight: "6-Jul",
        colour: "жел",
        taste: "гарм",
        freezing: "-21",
        cuttingPrice: "500"
      },
      {
        id: "72",
        name: "Ламборджини",
        ripeningPeriod: " 120-130",
        bunchWeight: "500-900",
        weight: "6-Aug",
        colour: "жел",
        taste: "гарм",
        freezing: "-21",
        cuttingPrice: "800",
        seedlingPrice: "800"
      },
      {
        id: "73",
        name: "Хэллоуин",
        ripeningPeriod: "115-125",
        colour: "фиол",
        taste: "гарм",
        cuttingPrice: "800"
      },
      {
        id: "74",
        name: "Щелкунчик",
        ripeningPeriod: "115-125",
        bunchWeight: "     700-1000",
        weight: "8",
        colour: "красн",
        taste: "гарм",
        freezing: "-22",
        cuttingPrice: "800"
      },
      {
        id: "75",
        name: "Юпитер (США)",
        ripeningPeriod: "110-125",
        bunchWeight: "300-500",
        size: "удлин",
        weight: "5-Jun",
        colour: "кр.фиол",
        taste: "л.мус   ",
        diseaseResistance: "3",
        freezing: "-27"
      },
      {
        id: "76",
        ripeningPeriod: "115-125",
        colour: "т.син",
        taste: "гарм",
        cuttingPrice: "500"
      }
    ]
